.signup-input-form{
    margin-top: 80px;
}
.signup-btn{
    width:100%;
    background-color:rgba(7, 75, 137, 1);
    color:#fff;
    border-radius: 30px;
    border: none;
    font-size: 15px;
}
.signup-btn:hover{
    background-color:rgba(7, 75, 137, 1);

}
.forget-password{
    color:rgba(77, 167, 255, 1) ;
}