.dp-btn{
    background-color: rgba(7, 75, 137, 1);
    border-radius: 50px;
    color:#fff;
    border: none;
    width:120px
}
.dp-card-btn{
    background-color: rgba(7, 75, 137, 1);
    border-radius: 50px;
    color:#fff;
    border: none;
    width:120px;
    height:35px
}
.dp-card-btn-invite{
    background-color: rgba(7, 75, 137, 1);
    border-radius: 50px;
    color:#fff;
    border: none;
    width:180px;
    height:40px
}
.dp-available-btn{
    color:rgba(76, 175, 80, 1);
    background-color: rgba(76, 175, 80, 0.13);
    border:none;
    border-radius: 5px;
    width:150px
}
.dp-unavailable-btn{
    color:rgba(242, 78, 30, 1);
    background-color: rgba(242, 78, 30, 0.13);
    border:none;
    border-radius: 5px;
    width:150px
}
.table-head{
    color:rgba(7, 75, 137, 1);
    padding-bottom: 15px;
}
.search-form{
    border: none;
      outline: none;
  }
  .input-container {
      border: solid 1px rgb(206,212,218);
      border-radius: 2px;
      position: absolute;
      display: flex;
      align-items: center;
      /* padding:0 4px;
      gap: 4px; */
      width: 95%;
      border-radius: 20px;
    }
    .input-container .fa-search {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .fa-search {
      color:rgb(206,212,218);
      height: 16px;
      line-height: 36px;
      margin-right: 15px;
    }
.search-formI{
    border: none;
      outline: none;
  }
  .input-containerI {
      border: solid 1px rgb(206,212,218);
      background-color: #fff;
      border-radius: 2px;
      position: absolute;
      display: flex;
      align-items: center;
      height: 40px;
      /* padding:0 4px;
      gap: 4px; */
      /* width: 95%; */
      /* border-radius: 20px; */
    }
    .input-containerI .fa-searchI {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .fa-searchI {
      color:rgb(206,212,218);
      height: 20px;
      line-height: 36px;
      margin-right: 15px;
    }
    .search-form{
        border-radius: 20px;
    }