.practitioner-info {
    display: flex;

}
.practitioner-title{
    font-size: 15px;
}
.details-btn{
    background-color: 
    rgba(243, 220, 103, 1);
    color: #000000;
    border:none;
    border-radius: 4px;
}
.prescription-btn{
    background-color: rgba(7, 75, 137, 1);
    color: #fff;
    border:none ;
    border-radius: 6px;
}
.curr-prescription-card{
    border-radius: 15px;
    border: none;
    background-color:rgba(237, 237, 237, 1)
}
.previous-prescription-card{
    border-radius: 15px;
    border: none;
    background-color:rgba(237, 237, 237, 1)

}
.resource-btn{
    display: flex;
    border:none;
    color:rgba(7, 75, 137, 1);
    border: 1px solid rgba(7, 75, 137, 1);
    border-radius: 50px;
}
.ask-btn{
    display: flex;
    background-color: rgba(7, 75, 137, 1);
    border-radius: 50px;
    color:#fff;

}
.ask-btn-img{
    height: 65px;
    width: 65px;
}
.ask-btn-img-modal{
    height: 45px;
    width: 45px;
}